{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "amd": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  // "extends": "eslint:recommended",
  "plugins": [
    "angular",
    "standard"
  ],
  "globals":{
    "angular":true
  },
  "rules":{
    "semi": [2, "always"],
    "strict": 2,
    "comma-spacing": 2,
    "semi-spacing": ["error", {"before": false, "after": true}],
    "indent": [2, 2],
    "eqeqeq": 2,
    "no-eval": 2,
    "init-declarations": 2
  }
}